#salesBody {
    font-family: 'Acme', sans-serif;
    background-image: url(../img/salmon.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url(../img/salmon.png); 
}

#salesHeader {
    text-align: center;
}

#publicHeader {
    text-align: center;
    color: salmon;
}

.total {
    font-weight: bold;
}

table {
	border: 10px solid black;
}

td {
	padding: 10px;
	border-radius: 15px;
    border: 1px solid black;
    background: white;
    text-align: center;
}

th {
	background-color: salmon;
	color: white;
}

h1 {
    color: salmon;
}

.totalsCell {
    font-weight: bold;
    background-color: salmon;
}